In [2]:
import os
import tweepy as tw
import pandas as pd

In [3]:
consumer_key= 'WgTilcUxe5aZUZGCUJ6nrkzcJ'
consumer_secret= '9NFm7vdKAyiC3BDsCK1QF33clGFplDnWU9nvKMqZVH7pf8ATXE'
access_token= '304813303-TCxQMYCys5cBVEFita6yG720nXIWvaXMDhLUDXqI'
access_token_secret= 'Q26BUcwrGvLzmiCMv2bnOkO2GljLWan2fNGQs6TdxMg04'

In [4]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [11]:
# Define the search term and the date_since date as variables
search_words = "$AMC"
date_since = "2018-11-16"

In [112]:
def get_stock_tweets (search_stock, start_date, tweet_count):
  
    new_search = search_stock + " -filter:retweets"
    tweets = tw.Cursor(api.search,
                q=new_search,
                lang="en",
                since=start_date).items(tweet_count)
    tweets_list = [tweet.text for tweet in tweets] 
    return tweets_list

In [145]:
def tick_input():
  tick = str(input('Please enter stock ticker symbol like [$GME]:'))
  return tick

In [172]:
# Goes in main
tick = tick_input()

Please enter stock ticker symbol like [$GME]:$GME

In [173]:
# Goes in main
ls = get_stock_tweets(tick, "2021-08-07", 100)

In [167]:
#Dont need to run everytime. Put in main.
df_t = pd.DataFrame(columns=['Tweet', 'Tick'])

In [157]:
def tick_list(tick,ls):
  arr = []
  size = len(ls)
  arr += size * [tick]
  return arr

In [174]:
# Goes in main
tck_lst = tick_list(tick, ls)

In [169]:

def add_to_df(lst, df, tck):
  for i in range(len(lst)):
    df_length = len(df)
    df.loc[df_length] = lst[i], tck[i]

In [175]:
#Put in main.
add_to_df(ls,df_t, tck_lst)

In [176]:
df_t

                                                 Tweet  Tick
0        $CEI $AMC $GME $CLOV \n\nShort squeeze $CEI ‚Üò  $AMC
1    #AMC $AMC - Twitter is not your weekend job. H...  $AMC
2    @citsecurities it is suck that using naked sho...  $AMC
3    Here we go again #AMC Read this. Guy‚Äôs behavio...  $AMC
4    @AllenHeathman Unite the communities. Let's he...  $AMC
..                                                 ...   ...
195  @GMEshortsqueeze @__ZionLion__ I agree with @G...  $GME
196                          $GME $10,000 next week. üíü  $GME
197             $GME Bitcoin Ô∏è https://t.co/lWYpYarpvQ  $GME
198  Our members caught $SHOP today. $SHOP would ru...  $GME
199  $AMC $GME \nPAID BY HF DOG FROM KENNYBOY, DEFI...  $GME

[200 rows x 2 columns]