In [6]:
! pip3 install schedule

Collecting schedule
  Downloading schedule-1.1.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: schedule
Successfully installed schedule-1.1.0

In [10]:
# Import package
import schedule
import os
import time

import yfinance as yf
import pandas as pd

In [8]:
def tick_input():
  tick = str(input('Please enter stock ticker symbol like [$GME]:')) # test if it's a valid ticker name
  return tick[1:].upper()

In [13]:
get_tick = ['AMC', 'GME', 'TSLA', 'MSFT', 'AAPL', 'NKLA', 'GOOGL','RIVN', 'FB']


def get_data():
    ticker = tick_input()
    if ticker not in get_tick:
        data = yf.download(tickers=ticker, period="1mo", interval="15m")
        data.to_csv('stock_data/'+ticker+'.csv')
        get_tick.append(ticker)
        
    return pd.read_csv('stock_data/'+ticker+'.csv')

data = get_data()

# test cases return the correct file, or if new, create a new file

Please enter stock ticker symbol like [$GME]:$amzn
[*********************100%***********************]  1 of 1 completed

In [14]:
data

,Datetime,Open,High,Low,Close,Adj Close,Volume
0,2021-11-08 09:30:00-05:00,3523.239990,3579.000000,3520.860107,3561.120117,3561.120117,473734
1,2021-11-08 09:45:00-05:00,3560.510010,3567.949951,3543.100098,3550.000000,3550.000000,160632
2,2021-11-08 10:00:00-05:00,3552.010010,3552.800049,3533.429932,3540.639893,3540.639893,141923
3,2021-11-08 10:15:00-05:00,3541.290039,3546.889893,3529.909912,3535.574951,3535.574951,105848
4,2021-11-08 10:30:00-05:00,3535.475098,3540.864990,3516.919922,3517.370117,3517.370117,116061
...,...,...,...,...,...,...,...
504,2021-12-06 14:45:00-05:00,3460.199951,3461.419922,3446.050049,3449.320068,3449.320068,104759
505,2021-12-06 15:00:00-05:00,3449.219971,3450.679932,3432.645508,3438.000000,3438.000000,109803
506,2021-12-06 15:15:00-05:00,3439.050049,3444.039795,3428.074951,3433.245117,3433.245117,113996
507,2021-12-06 15:30:00-05:00,3432.290039,3438.810059,3422.000000,3428.645020,3428.645020,132711
508,2021-12-06 15:45:00-05:00,3428.209961,3430.989990,3421.300049,3427.979980,3427.979980,254957

In [50]:
#update csv files daily at 4pm

#def job():

for ticker in get_tick:
    new_data = yf.download(tickers=ticker, period="1d", interval="15m")
    df = pd.read_csv('stock_data/'+ticker+'.csv')
    df = df.append(new_data)
    df.to_csv('stock_data/'+ticker+'.csv')

# schedule.every().day.at("16:00").do(job)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed